
  <div class="country">
    <ul class="info-country">
      <li><span>Название</span> {{name}}</li>
      <li><span>Столица: </span> {{capital}}</li>
      <li><span>Население:</span> {{population}}</li>
      <li><span>Регион:</span>{{region}}</li>
      <li>
        <ul class="language">
          <span>Языки:</span>
          {{#each  languages}}
            <li>{{name}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
    <img src="{{flag}}" alt="flag" class="flag-country" width="300px">
  </div>

